@charset "UTF-8";
/*INICIO SCSS INDEX*/
.row {
  margin-right: 0px; }

.contenedorI {
  position: absolute;
  z-index: 1; }

.carousel {
  margin-top: 300px;
  display: flex;
  justify-content: center; }

.menuI__li {
  display: flex;
  justify-content: center; }

.imagenes__bloque {
  display: flex;
  justify-content: center; }

.contenedorI--tamaño {
  font-size: 33px; }

.imagenes2 {
  margin-top: 20px; }

.imagenes2__titulo {
  font-size: 30px;
  display: flex;
  justify-content: center; }

.imagenes2__a {
  color: #000;
  text-decoration: none; }

.footer, .imagenes {
  margin: 0px; }

.imagenes2__img {
  width: 100%;
  margin-top: 20px; }

.imagenes {
  margin: 40px 40px; }

.imagenes2__img1 {
  margin: 20px;
  list-style: none; }

/*INICIO SCSS PRODUCTOS*/
.contenedor {
  position: absolute;
  z-index: 1; }

.rowP {
  margin-right: 0px;
  margin-top: 100px; }

.conteinerP {
  margin-top: 600px;
  margin-bottom: 40px; }

.div__producto--img, .tit__descripcion, .tit__subtitulo {
  display: flex;
  justify-content: center;
  margin: 20px; }

.tit__subtitulo {
  font-weight: bold;
  font-size: 20px; }

.tit__descripcion {
  box-sizing: content-box;
  width: 70%;
  margin-left: 120px; }

.tit__precio {
  display: flex;
  justify-content: center;
  font-size: 20px; }

.div__producto {
  border: solid 1px #1d1b1b;
  border-radius: 20px;
  width: 100%;
  height: 500px;
  margin-left: 8px;
  margin-bottom: 40px; }

/*INICIO SCSS NOSOTROS*/
.rowN, .divN {
  margin-right: 0px; }

.parrafo__nosotros1--titulo, .parrafo2__local {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 30px; }

@media only screen and (min-width: 1024px) {
  .parrafo__nosotros2 {
    box-sizing: content-box;
    width: 70%;
    display: flex;
    align-items: center;
    margin: 100px; }
  .palermo, .belgrano {
    display: flex;
    justify-content: center; }
  .palermo__texto, .belgrano__texto {
    margin-left: 100px;
    margin-top: 100px; }
  .parrafo2__locales {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: start; }
  .palermo__img, .belgrano__img {
    margin-left: 100px; } }

.parrafo__nosotros2--info {
  margin-left: 60px; }

.rowN {
  margin-top: 600px; }

/*INICIO SCSS CONTACTO*/
.formulario {
  margin-right: 0px;
  margin-bottom: 200px;
  margin-top: 600px;
  display: flex;
  justify-content: center; }

.label__texto {
  display: flex;
  justify-content: center; }

.boton {
  box-sizing: content-box;
  width: 20%;
  margin-left: 340px; }

.label__texto {
  background-color: #DB7E7E;
  box-sizing: content-box;
  width: 130px;
  margin-left: 310px;
  margin-bottom: 20px;
  border-radius: 20px; }

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  background-color: #DB7E7E; }

/* INICIO SCSS RECETAS*/
.contenedor--color {
  background-color: #DB7E7E !important; }

.caja1 {
  margin-top: 600px; }

.caja__titulo {
  display: flex;
  font-size: 40px;
  margin-top: 40px;
  margin-left: 640px;
  display: flex;
  justify-content: center;
  color: #000;
  box-sizing: border-box;
  width: 15%;
  border: solid #DB7E7E 10px;
  padding: 5px; }

.receta__producto {
  display: flex;
  align-items: flex-start;
  margin: 10px 0px 10px 0px;
  flex-direction: column;
  margin-left: 25px; }

.receta__ingrediente, .receta__procedimiento {
  font-weight: bold;
  font-size: 20px; }

.footerL {
  margin: 0px; }

.contenedorR {
  margin: 0px;
  position: absolute;
  z-index: 1; }

.imgNav__i--tamaño {
  height: 1300px !important; }

/* INICIO SCSS GENERAL*/
body {
  font-family: 'Heebo', sans-serif; }

@media only screen and (min-width: 1024px) {
  .imgNav__i {
    position: relative;
    width: 100% !important;
    height: 1400px;
    opacity: 0.7; }
  .imgNav__t {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -920px;
    font-size: 60px;
    font-weight: bold;
    color: white;
    font-family: 'Acme', sans-serif; }
  .corousel {
    width: 100%; }
  .contenedor, .contenedorI, .contenedorR {
    width: 100%; } }

.contenedor--color {
  background-color: transparent !important; }

.imgNav__t--pedidos {
  margin-top: 5px;
  margin-right: 5px; }

.contenedorI--color {
  background-color: transparent !important; }

footer {
  background-color: #1d1b1b; }

.footerL__listas--color {
  color: white; }

.footerL {
  margin-top: 20px; }

.transicion {
  transition: 300ms; }

.transicion:hover {
  transform: translateY(-15px); }

.contenedor {
  margin-right: 0px;
  margin-left: 0px; }

.menu__logo {
  display: flex;
  justify-content: flex-start; }

.menu__li {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-left: -150px; }

.ul__li {
  margin: 20px 40px; }

footer {
  display: flex;
  justify-content: center; }

.footerL__listas {
  font-size: 20px;
  display: flex;
  margin-top: 25px; }

.cophyright {
  box-sizing: content-box;
  width: 100%;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  margin-top: 20px; }

.cophyright__copy {
  margin-top: 150px;
  margin-left: 200px; }

.imgNav__b {
  font-size: 25px;
  background-color: white;
  box-sizing: content-box;
  width: 15%;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  margin-top: 300px;
  margin-left: 650px;
  color: #000;
  text-decoration: none; }

.logoF__img {
  margin-left: -200px;
  background-color: white;
  border: solid #1d1b1b 1px;
  margin-top: 20px; }

a:hover {
  text-decoration: none !important;
  color: white; }

/*INICIO SCSS VISTA MOBILE*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /*vista mobile general*/
  .contenedor, .contenedorI, .contenedorR {
    width: 100%; }
  .navBar {
    width: 100%; }
  .contenedorI__menu {
    padding-right: 0px; }
  /*vista mobile index*/
  .navbar-collapse {
    background-color: white !important;
    opacity: 1 !important; }
  .imgNav__i {
    position: relative;
    width: 100% !important;
    height: 700px;
    opacity: 0.8; }
  .imgNav__t {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -350px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    font-family: 'Acme', sans-serif; }
  .imgNav__b {
    font-size: 25px;
    background-color: white;
    box-sizing: content-box;
    width: 50%;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: 100px;
    color: #000;
    text-decoration: none; }
  h3 {
    font-size: 20px !important; }
  .ul__li--tamaño {
    font-size: 25px; }
  .contenedorI {
    margin-right: 0px;
    width: 100%; }
  .carousel {
    margin-left: -4px;
    margin-top: 100px;
    width: 100% !important; }
  .carousel__imagenes {
    padding-right: 0px; }
  .imagenes__bloque {
    padding-left: 0px; }
  .imagenes2__img1 {
    margin-right: 10px; }
  .footerL__listas {
    margin: 10px !important; }
  .footerL {
    margin-right: 35px !important;
    margin-left: -20px; }
  .logoF__img {
    width: 100px;
    height: 100px;
    margin: 0px; }
  .row2 {
    display: flex;
    flex-direction: column; }
  .cophyright {
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: -20px;
    margin-top: 0px; }
  .cophyright__copy {
    margin-top: 0px;
    margin-left: 0px; }
  .logoF__img {
    margin-left: 140px;
    background-color: white;
    border: solid #1d1b1b 1px;
    margin-top: 10px; }
  /*vista mobile productos*/
  .contenedor {
    width: 100%; }
  .div__producto {
    width: 100%; }
  .conteinerP {
    margin-top: 200px; }
  .rowP {
    margin-top: 10px; }
  /*nosotros*/
  .rowN {
    margin-top: 150px; }
  .parrafo__nosotros1 {
    margin-left: 9px; }
  .parrafo__nosotros1--titulo, .parrafo2__local {
    margin-top: 50px; }
  .parrafo__nosotros2--img, .belgrano__img, .palermo__img {
    margin-left: 8px;
    margin-top: 20px;
    width: 100%; }
  .parrafo__nosotros2--info {
    margin-top: 30px;
    margin-right: 20px; }
  .palermo, .belgrano {
    flex-direction: column; }
  .texto__titulo {
    margin-left: 140px;
    margin-top: 30px; }
  .texto__direc, .texto__dias {
    margin-left: 10px;
    margin-top: 20px; }
  .belgrano__texto--margin {
    margin-bottom: 100px; }
  /*vista mobile contacto*/
  .formulario {
    margin-top: 200px; }
  .label__texto {
    margin-left: 150px; }
  .boton {
    margin-left: 180px; }
  .label__f {
    margin-left: 10px; }
  .label__f--opciones {
    width: 50px;
    height: 5px; }
  /*vista mobile recetas*/
  .caja1 {
    margin-top: 200px; }
  .receta__producto {
    margin-left: 10px !important;
    margin-right: 10px !important; }
  .caja__titulo {
    margin-left: 100px !important;
    width: 50% !important;
    font-size: 30px !important;
    margin-bottom: 50px; } }

/*INICIO SCSS VISTA TABLET*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /*general*/
  .contenedor, .contenedorI, .contenedorR {
    width: 100%; }
  .navBar {
    width: 100%; }
  .contenedorI__menu {
    padding-right: 0px; }
  /*index*/
  .navbar-collapse {
    background-color: white !important;
    opacity: 1 !important; }
  .imgNav__i {
    position: relative;
    width: 100% !important;
    height: 800px;
    opacity: 0.8; }
  .imgNav__t {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -450px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    font-family: 'Acme', sans-serif; }
  .imgNav__b {
    font-size: 25px;
    background-color: white;
    box-sizing: content-box;
    width: 30%;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-left: 270px;
    color: #000;
    text-decoration: none; }
  h3 {
    font-size: 20px !important; }
  .ul__li--tamaño {
    font-size: 20px; }
  .contenedorI {
    margin-right: 0px;
    width: 100%; }
  .carousel {
    margin-left: -4px;
    margin-top: 150px;
    width: 100% !important; }
  .carousel__imagenes {
    padding-right: 0px; }
  .imagenes__bloque {
    padding-left: 0px; }
  .imagenes2__img {
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .imagenes2__img1 {
    margin-right: 10px; }
  .footerL__listas {
    margin: 10px !important; }
  .footerL {
    margin-right: 35px !important;
    margin-left: -20px; }
  .logoF__img {
    width: 100px;
    height: 100px;
    margin: 0px; }
  .row2 {
    display: flex;
    flex-direction: column; }
  .cophyright {
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: -20px;
    margin-top: 0px; }
  .cophyright__copy {
    margin-top: 0px;
    margin-left: 0px; }
  .logoF__img {
    margin-left: 140px;
    background-color: white;
    border: solid #1d1b1b 1px;
    margin-top: 10px; }
  .logoF {
    display: flex;
    justify-content: center;
    margin-left: -100px; }
  .rowFo {
    display: flex;
    justify-content: center; }
  /*productos*/
  .contenedor {
    width: 100%; }
  .div__producto {
    width: 100%; }
  .conteinerP {
    margin-top: 400px; }
  .rowP {
    margin-top: 10px; }
  /*nosotros*/
  .rowN {
    margin-top: 250px; }
  .parrafo__nosotros2--img, .palermo__img, .belgrano__img {
    width: 500px !important;
    margin-left: 130px !important; }
  .parrafo__nosotros1 {
    margin-left: 9px; }
  .parrafo__nosotros1--titulo, .parrafo2__local {
    margin-top: 50px; }
  .parrafo__nosotros2--img, .belgrano__img, .palermo__img {
    margin-left: 8px;
    margin-top: 20px;
    width: 100%; }
  .parrafo__nosotros2--info {
    margin-top: 30px;
    margin-right: 20px; }
  .palermo, .belgrano {
    flex-direction: column; }
  .texto__titulo {
    margin-left: 300px !important;
    margin-top: 30px !important; }
  .texto__direc, .texto__dias {
    margin-left: 250px !important;
    margin-top: 20px !important; }
  .belgrano__texto--margin {
    margin-bottom: 100px; }
  /*contacto*/
  .formulario {
    margin-top: 300px; }
  .label__texto {
    margin-left: 300px !important; }
  .boton {
    margin-left: 330px !important; }
  .label__f {
    margin-left: 10px !important; }
  .label__f--opciones {
    width: 50px !important;
    height: 5px !important; }
  /*recetas*/
  .caja1 {
    margin-top: 350px; }
  .receta__producto {
    margin-left: 100px !important;
    margin-right: 100px !important; }
  .caja__titulo {
    margin-left: 300px !important;
    width: 30% !important;
    font-size: 30px !important;
    margin-bottom: 50px; } }
