@charset "UTF-8";
.rowN, .divN {
  margin-right: 0px; }

.parrafo-nosotros1--titulo {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 30px; }

.parrafo__nosotros2 {
  box-sizing: content-box;
  width: 70%;
  display: flex;
  align-items: center;
  margin: 100px; }

.parrafo__nosotros2--info {
  margin-left: 80px;
  background-color: #f0c6dc;
  box-sizing: content-box; }

.formulario {
  margin-right: 0px;
  margin-bottom: 200px;
  margin-top: 60px;
  display: flex;
  justify-content: center; }

.label__texto {
  display: flex;
  justify-content: center; }

.boton {
  box-sizing: content-box;
  width: 20%;
  margin-left: 340px; }

@media only screen and (min-width: 1024px) {
  .contenedorI {
    margin: 0px;
    position: absolute;
    z-index: 1;
    box-sizing: content-box;
    width: 100%; }
  .carousel {
    width: 1519px;
    position: relative;
    opacity: 0.9; } }

.contenedor--color {
  background-color: #F1D4E3 !important; }

/*map-get*/
.caja__titulo {
  display: flex;
  font-size: 40px;
  margin-top: 40px;
  margin-left: 640px;
  display: flex;
  justify-content: center;
  color: #000;
  box-sizing: border-box;
  width: 15%;
  border: solid #f0c6dc 10px;
  padding: 5px; }

.receta__producto {
  display: flex;
  align-items: flex-start;
  margin: 10px 0px 10px 0px;
  flex-direction: column;
  margin-left: 25px; }

.receta__ingrediente, .receta__procedimiento {
  font-weight: bold;
  font-size: 20px; }

.footerL {
  margin: 0px; }

/*map-get*/
body {
  font-family: 'Heebo', sans-serif; }

.contenedor--color {
  background-color: transparent !important; }

.contenedorI--color {
  background-color: transparent !important; }

footer {
  background-color: #1d1b1b; }

.footerL__listas--color {
  color: white; }

.transicion {
  transition: 300ms; }

.transicion:hover {
  transform: translateY(-15px); }

.contenedor {
  margin-right: 0px;
  margin-left: 0px; }

.menu__logo {
  display: flex;
  justify-content: flex-start; }

.menu__li {
  display: flex;
  justify-content: center;
  font-size: 30px; }

.ul__li {
  margin: 20px 40px; }

footer {
  display: flex;
  justify-content: center; }

.footerL__listas {
  font-size: 30px;
  display: inline-flex;
  margin: 20px; }

/*map-get*/
.menuI__li {
  display: flex;
  justify-content: center;
  font-size: 25px; }

.imagenes__bloque {
  display: flex;
  justify-content: center; }

.contenedorI--tamaño {
  font-size: 33px; }

.imagenes2__titulo {
  font-size: 30px;
  display: flex;
  justify-content: center; }

.imagenes2 a {
  color: #000;
  text-decoration: none; }

.footer, .imagenes {
  margin: 0px; }

.imagenes {
  margin: 40px 40px; }

.imagenes2__img1 {
  margin: 20px;
  list-style: none; }

/*map-get*/
.rowP {
  margin: 0px; }

.conteinerP {
  margin-bottom: 40px; }

.div__producto--img, .tit__descripcion, .tit__subtitulo {
  display: flex;
  justify-content: center;
  margin: 20px; }

.tit__subtitulo {
  font-weight: bold;
  font-size: 20px; }

.tit__descripcion {
  box-sizing: content-box;
  width: 70%;
  margin-left: 120px; }
