$gris: rgb(29, 27, 27);
$rosa1:#F1D4E3;
$rosa2:#f0c6dc;
$negro:#000;
$blanco: white;
$margin0: 0px;
$margin: 20px;
$titulos:30px;
$vista:desktop;

/* INICIO SCSS GENERAL*/

$estilos:(
    posicion:center,
    tamañoletra:10px,
    tamañotitulo:25px,
    tamañosubtitulo:20px,
    flex:flex,
);


body{
	font-family:'Heebo', sans-serif;
}

@if $vista == desktop{
    @media only screen and (min-width:1024px){
        .imgNav__i{
            position: relative;
            width: 100% !important;
            height: 1200px;
            opacity: 0.7;
        }
        
        .imgNav__t{
            position: relative;
            display: map-get($estilos, flex);
            justify-content: map-get($estilos, posicion);
            margin-top: -820px;
            font-size: $margin*3;
            font-weight: bold;
            color: white;
            font-family:'Acme', sans-serif;

        }
        .corousel{
            width: 100%;
        }

        .contenedorR__menu, .contenedor__menu, .contenedorI__menu{
            width: 100%;
        }
    }
}

.contenedor--color{
    background-color: transparent !important;
}

.imgNav__t--pedidos{
    margin-top: 5px;
    margin-right: 5px;
}

.contenedorI--color{
    background-color: transparent !important;
}


footer{
    background-color:$gris;
}

.footerL__listas--color{
    color:$blanco;
}

.transicion{
	transition: 300ms;
}

.transicion:hover{
	transform: translateY(-15px);
}

.contenedor{
    margin-right: $margin0;
    margin-left: $margin0;
}

.menu__logo{
    display: flex;
    justify-content: flex-start;
}

.menu__li{
   display: flex;
   justify-content: map-get($estilos,posicion);
   font-size: map-get($estilos,tamañotitulo);
}

.ul__li{
    margin: $margin $margin*2;
}

footer{
    display: flex;
    justify-content: center;
}

.footerL__listas{
    font-size: $titulos/2 +5;
    display: flex;
    margin: $margin;
}

.cophyright{
    box-sizing: content-box;
    width: 100%;
    color: white;
    font-size: $titulos/2;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cophyright__copy{
    margin-top: 150px;
    margin-left: 200px;
}

.logoF{
    background-color: white;
    margin-left: -400px;
    border: solid $gris 5px;
}

a:hover{
    text-decoration: none !important;
    color: white;
}

