$margin0: 0px;
$margin: 20px;
$titulos:30px;
$negro:#000;


/*map-get*/
$estilos:(
    posicion:center,
    tamañoletra:10px,
    tamañotitulo:25px,
    flex:flex,
);

.menuI__li{
    display: flex;
    justify-content: map-get($estilos,posicion);
    font-size: map-get($estilos,tamañotitulo);
}

.imagenes__bloque{
    display: flex;
    justify-content: center;
}

.contenedorI--tamaño{
    font-size: $titulos+3;
}

.imagenes2__titulo{
    font-size: $titulos;
    display: flex;
    justify-content: center;
}

.imagenes2 a{   
    color: $negro;
    text-decoration: none;
}

.footer, .imagenes{
    margin: $margin0;
}

.imagenes{
    margin: $margin*2 $margin*2;
}

.imagenes2__img1{
    margin: $margin;
    list-style: none;
}


