$margin0: 0px;
$margin: 20px;
$titulos:30px;
$negro:#000;
$rosa1:#F1D4E3;
$rosa2:#f0c6dc;
$vista:desktop;

/*INICIO SCSS INDEX*/

$estilos:(
    posicion:center,
    tamañoletra:10px,
    tamañotitulo:25px,
    flex:flex,
);


.row{
    margin-right: $margin0;
}

.contenedorI{
    position: absolute;
    z-index: 1;
}

.carousel{
    margin-top: $margin*15;
    display: map-get($estilos,flex);
    justify-content: map-get($estilos, posicion);
}

.menuI__li{
    display: flex;
    justify-content: map-get($estilos,posicion);
}

.imagenes__bloque{
    display: flex;
    justify-content: center;
}

.contenedorI--tamaño{
    font-size: $titulos+3;
}

.imagenes2{
    margin-top: $margin;
}

.imagenes2__titulo{
    font-size: $titulos;
    display: flex;
    justify-content: center;
}

.imagenes2__a{   
    color: $negro;
    text-decoration: none;
}

.footer, .imagenes{
    margin: $margin0;
}
.imagenes2__img{
    width: 100%;
    margin-top: $margin;
    display: flex;
    justify-content: center;
}

.imagenes{
    margin: $margin*2 $margin*2;
}

.imagenes2__img1{
    margin: $margin;
    list-style: none;
}


