$margin0: 0px;
$margin: 20px;
$titulos:30px;
$negro:#000;
$rosa1:#F1D4E3;
$rosa2:#f0c6dc;
$vista:desktop;

/*INICIO SCSS INDEX*/

$estilos:(
    posicion:center,
    tamañoletra:10px,
    tamañotitulo:25px,
    flex:flex,
);


@if $vista == desktop{
    @media only screen and (min-width:1024px){
        .contenedorI{
            margin: $margin0;
            position: absolute;
            z-index: 1;
            box-sizing: content-box;
            width: 100%;
        }  
        .carousel{
            width: 1519px;
            position: relative;
            opacity: 0.9;
        }
    }
}

.menuI__li{
    display: flex;
    justify-content: map-get($estilos,posicion);
}

.imagenes__bloque{
    display: flex;
    justify-content: center;
}

.contenedorI--tamaño{
    font-size: $titulos+3;
}

.imagenes2__titulo{
    font-size: $titulos;
    display: flex;
    justify-content: center;
}

.imagenes2 a{   
    color: $negro;
    text-decoration: none;
}

.footer, .imagenes{
    margin: $margin0;
}

.imagenes{
    margin: $margin*2 $margin*2;
}

.imagenes2__img1{
    margin: $margin;
    list-style: none;
}

.footerL__listas{
    background-color: #DB7E7E;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: map-get($estilos, posicion);
    
}
