$centro:center;
$margin0:0px;
$margin:20px;
$titulos:30px;
$negro:#000;
$flex:flex;
$titulo:30px;
$texto:20px;
$gris: rgb(29, 27, 27);
$rosa1:#F1D4E3;
$rosa2:#f0c6dc;

.rowN, .divN{
    margin-right: $margin0;
}

.parrafo-nosotros1--titulo{
    display:$flex;
    justify-content:$centro;
    font-weight: bold;
    font-size:$titulo;
}

.parrafo__nosotros2{
    box-sizing: content-box;
    width: 70%;
    display: flex;
    align-items: center;
    margin: $margin*5;

}

.parrafo__nosotros2--info{
    margin-left: $margin*3;
    background-color: $rosa2;
}