$centro:center;
$vista:desktop;
$margin0:0px;
$margin:20px;
$titulos:30px;
$negro:#000;
$flex:flex;
$titulo:30px;
$texto:20px;
$gris: rgb(29, 27, 27);
$rosa1:#F1D4E3;
$rosa2:#f0c6dc;

/*INICIO SCSS NOSOTROS*/

.rowN, .divN{
    margin-right: $margin0;
}


.parrafo__nosotros1--titulo, .parrafo2__local{
    display:$flex;
    justify-content:$centro;
    font-weight: bold;
    font-size:$titulo;
}



@if $vista == desktop{
    @media only screen and (min-width:1024px){
        .parrafo__nosotros2{
            box-sizing: content-box;
            width: 70%;
            display: flex;
            align-items: center;
            margin: $margin*5;

        }

        .palermo, .belgrano{
            display:flex;
            justify-content: center;
        }

        .palermo__texto, .belgrano__texto{
            margin-left: 100px;
            margin-top: 100px;
        }

        .parrafo2__locales{
            margin-top: $margin*5;
            margin-bottom: $margin*5;
            display: flex;
            justify-content: start;
        }

        .palermo__img, .belgrano__img{
            margin-left: 100px;
        }
        
    }
}

.parrafo__nosotros2--info{
    margin-left: $margin*3;
}

.rowN{
    margin-top:$margin*30;
}

