$gris: rgb(29, 27, 27);
$rosa1:#F1D4E3;
$rosa2:#f0c6dc;
$negro:#000;
$blanco: white;
$margin0: 0px;
$margin: 20px;
$titulos:30px;

/*map-get*/
$estilos:(
    posicion:center,
    tamañoletra:10px,
    tamañotitulo:30px,
    tamañosubtitulo:20px,
    flex:flex,
);

