$gris: rgb(29, 27, 27);
$rosa1:#F1D4E3;
$rosa2:#f0c6dc;
$negro:#000;
$blanco: white;
$margin0: 0px;
$margin: 20px;
$titulos:30px;

$estilos:(
    posicion:center,
    tamañoletra:10px,
    tamañotitulo:30px,
    tamañosubtitulo:20px,
    flex:flex,
);

/*INICIO SCSS PRODUCTOS*/

.contenedor{
    position: absolute;
    z-index: 1;
}

.rowP{
    margin-right: $margin0;
    margin-top: $margin*5;
}

.conteinerP{
    margin-top: $margin*30;
    margin-bottom: $margin*2;
}

.div__producto--img, .tit__descripcion, .tit__subtitulo{
    display: map-get($estilos, flex);
    justify-content: map-get($estilos,posicion);
    margin: $margin;
}

.tit__subtitulo{
    font-weight: bold;
    font-size: map-get($estilos,tamañosubtitulo);
}

.tit__descripcion{
    box-sizing: content-box;
    width: 70%;
    margin-left: $margin*6;
    font-size: map-get($estilos,tamañoletra+5);
}

.tit__precio{
    display: map-get($estilos,flex);
    justify-content: map-get($estilos,posicion);
font-size: map-get($estilos,tamañosubtitulo);
}

.div__producto{
    border: solid 1px $gris;
    border-radius: 20px;
    width: 100%;
    height: 500px;
    margin-left: 8px;
    margin-bottom: $margin*2;
}


