$gris: rgb(29, 27, 27);
$rosa1:#F1D4E3;
$rosa2:#f0c6dc;
$negro:#000;
$blanco: white;
$margin0: 0px;
$margin: 20px;
$titulos:30px;

/*map-get*/
$estilos:(
    posicion:center,
    tamañoletra:10px,
    tamañotitulo:30px,
    tamañosubtitulo:20px,
    flex:flex,
);

.rowP{
    margin: $margin0;
}

.conteinerP{
    margin-bottom: $margin*2;
}

.div__producto--img, .tit__descripcion, .tit__subtitulo{
    display: map-get($estilos, flex);
    justify-content: map-get($estilos,posicion);
    margin: $margin;
}

.tit__subtitulo{
    font-weight: bold;
    font-size: map-get($estilos,tamañosubtitulo);
}

.tit__descripcion{
    box-sizing: content-box;
    width: 70%;
    margin-left: $margin*6;
}



