$rosa1:#F1D4E3;
$rosa2:#f0c6dc;
$rosa3:#DB7E7E;
$negro:#000;
$margin0:0px;
$margin1:20px;

/* INICIO SCSS RECETAS*/

.contenedor--color{background-color: $rosa3 !important;}

$estilos:(
    posicion:center,
    tamañoletra:10px,
    tamañotitulo:40px,
    tamañosubtitulo:20px,
    flex:flex,
);

.caja1{
    margin-top: $margin1*25;
}

.caja__titulo{
    display: map-get($estilos, flex);
    justify-content: map-get($estilos,posicion!important);
    font-size: map-get($estilos,tamañotitulo);
    margin-top: $margin1*2;
    margin-left:$margin1*32;
    display: map-get($estilos, flex);
    justify-content: map-get($estilos, posicion);
    color: $negro;
    box-sizing: border-box;
    width: 15%;
    border: solid $rosa3 10px;
    padding: 5px;
}


.receta__producto{
    display: map-get($estilos, flex);
    align-items: flex-start;
    font-size: map-get($estilos,tamañoletra+10);
    margin: $margin1/2 $margin0 $margin1/2 $margin0;
    flex-direction: column;
    margin-left: $margin1+5;
}

.receta__ingrediente, .receta__procedimiento{
    font-weight: bold;
    font-size: map-get($estilos, tamañosubtitulo);
}

.footerL{
    margin: 0px;
}

.contenedorR{
    margin: $margin0;
    position: absolute;
    z-index: 1;
}

.imgNav__i--tamaño{
    height: 1300px !important;
}

.imgNav__b{
    font-size: 25px;
    background-color: white;
    box-sizing: content-box;
    width: 20%;
    border-radius: 90px;
    display: map-get($estilos,flex);
    justify-content: map-get($estilos,posicion);
    margin-top: 300px;
    margin-left: 600px;
    color: $negro;
    text-decoration: none;
}



