$vista:tablet;
$mobileT:10px;
$margin0:0px;
$margin:10px;
$margin2:20px;

/*INICIO SCSS VISTA TABLET*/

@if $vista == tablet {
    @media only screen and (min-width: 768px) and (max-width: 1024px){
    /*general*/

    .contenedor, .contenedorI, .contenedorR{
        width: 100%;
    }

    .navBar{
        width: 100%;
    }

    .contenedorI__menu{
        padding-right: 0px;
    }
    

    /*index*/
    
    .navbar-collapse{
        background-color: white !important;
        opacity: 0.8 !important;
    }

    .imgNav__i{
        position: relative;
        width: 100% !important;
        height: 800px;
        opacity: 0.8;
    }

    .imgNav__t{
        position: relative;
        display: map-get($estilos, flex);
        justify-content: map-get($estilos, posicion);
        margin-top: -450px;
        font-size: $margin*5;
        font-weight: bold;
        color: white;
        font-family:'Acme', sans-serif;

    }

    .imgNav__b{
        font-size: 25px;
        background-color: white;
        box-sizing: content-box;
        width: 30%;
        border-radius: 90px;
        display: map-get($estilos,flex);
        justify-content: map-get($estilos,posicion);
        margin-top: 80px;
        margin-left: 270px;
        color: $negro;
        text-decoration: none;
    }

    h3{
        font-size: $mobileT*2 !important;
    }

    .ul__li--tamaño{
        font-size: ($mobileT*2)+5;
    }
    .contenedorI{
        margin-right: $margin0;
        width: 100%;
    }

    .carousel{
        margin-left: -4px;
        margin-top: $margin*15;
        width: 100% !important;
    }

    .carousel__imagenes{
        padding-right: $margin0;
    }

    .imagenes__bloque{
        padding-left: 0px;
    }

    .imagenes2__img{
        display: flex;
        justify-content: center;
        flex-direction: column;
    
    }

    .imagenes2__img1{
        margin-right: 10px;
    }

    .footerL__listas{
        margin: $mobileT !important;
    }

    .footerL{
        margin-right: $mobileT*3+5 !important;
        margin-left: -20px;
    }

    .logoF__img{
        width: 100px;
        height: 100px;
        margin: 0px;
    }

    .row2{
        display: flex;
        flex-direction: column;
    }

    .cophyright{
        color: white;
        font-size: $titulos/2;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-left: -20px;
        margin-top: 0px;
    }

    .cophyright__copy{
        margin-top:0px;
        margin-left:0px;
    }
    
    .logoF__img{
        margin-left: 140px;
        background-color: $blanco;
        border: solid $gris 1px;
        margin-top: $margin;
    }

    .logoF{
        display: flex;
        justify-content: center;
        margin-left: -100px;
    }

    .rowFo{
        display: flex;
        justify-content: center;
    }


    /*productos*/

    .contenedor{
        width: 100%;
    }

    .div__producto{
        width: 100%;
    }

    .conteinerP{
        margin-top:400px;
    }

    .rowP{
        margin-top: 10px;
    }

    /*nosotros*/

    .rowN{
        margin-top: $margin*25;
    }

    .parrafo__nosotros2--img, .palermo__img, .belgrano__img{
        width: 500px !important;
        margin-left: 130px !important;
    }

    .parrafo__nosotros1{
        margin-left: 9px;
    }

    .parrafo__nosotros1--titulo, .parrafo2__local{
        margin-top: $margin*5;
    }

    .parrafo__nosotros2--img, .belgrano__img, .palermo__img{
        margin-left: $margin/2+3;
        margin-top: $margin*2;
        width: 100%;
    }

    .parrafo__nosotros2--info{
        margin-top: $margin*3;
        margin-right: $margin*2;
    }

    .palermo, .belgrano{
        flex-direction: column;
    }

    .texto__titulo{
        margin-left: 300px !important;
        margin-top: 30px !important;
    }

    .texto__direc, .texto__dias{
        margin-left: 250px !important;
        margin-top: $margin*2 !important;
    }

    .belgrano__texto--margin{
        margin-bottom: $margin*10;
    }

    /*contacto*/

    .formulario{
        margin-top: $margin*30;
    }

    .label__texto{
        margin-left: $margin*30 !important;
    }

    .boton{
        margin-left: $margin*33 !important;
    }

    .label__f{
        margin-left: $margin !important;
    }

    .label__f--opciones{
        width: 50px !important;
        height: 5px !important;
    }

    /*recetas*/
    .caja1{
        margin-top: $margin*35;
    }
    .receta__producto{
        margin-left: $margin*10 !important;
        margin-right: $margin*10 !important;
    }
    .caja__titulo{
        margin-left: $margin*30 !important;
        width: 30% !important;
        font-size: $mobileT*3 !important;
        margin-bottom: $margin*5;
    }


    }  
}
