$vista:mobile;
$mobileT:10px;
$margin0:0px;
$margin:10px;
$margin2:20px;

/*INICIO SCSS VISTA MOBILE*/

@if $vista == mobile {
    @media only screen and (min-width: 0px) and (max-width: 767px){
    /*index*/
    
    .navbar-collapse{
        background-color: white !important;
        opacity: 0.8 !important;
    }

    .imgNav__i{
        position: relative;
        width: 100% !important;
        height: 600px;
        opacity: 0.8;
    }

    .imgNav__t{
        position: relative;
        display: map-get($estilos, flex);
        justify-content: map-get($estilos, posicion);
        margin-top: -300px;
        font-size: $margin*5;
        font-weight: bold;
        color: white;
        font-family:'Acme', sans-serif;

    }
    h3{
        font-size: $mobileT*2 !important;
    }
    .ul__li--tamaño{
        font-size: ($mobileT*2)+5;
    }
    .contenedorI{
        margin-right: $margin0;
        width: 100%;
    }

    .carousel{
        margin-left: -4px;
        margin-top: $margin/2;
        width: 100% !important;
    }

    .carousel__imagenes{
        padding-right: $margin0;
    }

    .imagenes__bloque{
        padding-left: 0px;
    }

    .imagenes2__img1{
        margin-right: 10px;
    }

    .footerL__listas{
        margin: $mobileT !important;
    }

    .footerL{
        margin-right: $mobileT*3+5 !important;
    }

    .logoF__img{
        width: 100px;
        height: 100px;
        margin: 0px;
    }

    .row2{
        display: flex;
        flex-direction: column;
    }

    .cophyright{
        color: white;
        font-size: $titulos/2;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-left: 10px;
        margin-top: 10px;
    }
    
    .logoF{
        background-color: white;
        margin-left: 120px;
        border: solid $gris 5px;
        box-sizing: content-box;
        width: 30%;
    }

    /*productos*/

    .contenedor{
        width: 100%;
    }

    .div__producto{
        width: 100%;
    }

    .conteinerP{
        margin-top:-50px;
    }

    .rowP{
        margin-top: 10px;
    }

    /*nosotros*/

    .rowN{
        margin-top: $margin;
    }

    .parrafo__nosotros1{
        margin-left: 9px;
    }

    .parrafo__nosotros2--img{
        margin-left: $margin*6;
    }

    .parrafo__nosotros2--info{
        margin-top: $margin*3;
        margin-right: $margin*2;
    }

    /*contacto*/
    .label__texto{
        margin-left: $margin*15;
    }

    .boton{
        margin-left: $margin*18;
    }

    .label__f{
        margin-left: $margin;
    }

    .label__f--opciones{
        width: 50px;
        height: 5px;
    }

    /*recetas*/
    .receta__producto{
        margin-left: $margin !important;
        margin-right: $margin !important;
    }
    .caja__titulo{
        margin-left: $margin*10 !important;
        width: 50% !important;
        font-size: $mobileT*3 !important;
        margin-bottom: $margin*5;
    }

    }  
}

